/* body{
    margin: 0;
    padding: 0;
} */

.nav-custom-bg {
  backdrop-filter: blur(40px); 
  z-index: 100; 
}


.border-container {
  width: 200px;
  height: 200px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.border-container.border-left-2 {
  border-left-color: #ff5733;
}

/* Apply border to right side */
.border-container.border-right-2 {
  border-right-color: #ff5733;
}


.form-div{
  background-image: linear-gradient(45deg, #e30cbc,#f26209);
  border-radius: 20px;
  padding: 2px;
  max-width: 400px;
  
}

.form-class{
  background-color: #ffffff;
  border-radius: 18px;

}
.text-main-div{
  max-width: 400px;
}
