---
const title = 'Godspeed';
import Layout from '../layouts/Layout.astro';
import GodspeedSuite from '../components/GodspeedSuite.astro';
import Cards3 from '../components/Cards3.astro';
import Community from '../components/Community.astro';
import Companymnclogos from '../components/Companymnclogos.astro';
import Herosection from '../components/Herosection.astro';
import Developerbusinessbtns from '../components/Developerbusinessbtns.astro';
---

<!-- bg-gradient-to-r from-[rgba(2,4,5,255)] to-[rgba(3,5,6,255)] via-[rgba(28,8,45,255)] via-[rgba(29,9,46,255)] via-[rgba(29,9,46,255)] -->
<Layout title="Welcome to Godspeed.">
	<div class="mb-8 custom-section-3">
		<Cards3 />
		<Community />
	  </div>
  <!-- <div class="pb-20 custom-sec-div">
    <Herosection />
  </div>
  <div class="min-h-screen flex flex-col justify-center items-center lg:pt-8">

    <Developerbusinessbtns />
	
	</div> -->

 
</Layout>
<style>

  .custom-section-3 {
    width: 70%;
  }

  .custom-sec-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
   /* background: linear-gradient(45deg,#ffffff,#ffffff,#9eecec,#ffffff,#ffffff) */

    /* background-color: #ffffff; */
    

  }
  /* background: radial-gradient(ellipse farthest-corner at center, rgba(28,8,65,255),rgba(2,4,5,255)); */
   
  .custom-focused-div {
    width: 50%;
    /* background-color: #23262d; */
    padding: 10px;
  }
</style>