<div class="build-section">
    <div class="build-logo">
        <div class="logo">
            <div class="yellow"></div>
            <div class="orange"></div>
            <div class="light-orange"></div>
        </div> 
    <h1 class="build-heading">BUILD AND OPERATE</h1>
</div>
    <div class="build-container">
        <div class="left-container">
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">LOAN MANAGEMENT</h4>
            </div>
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">PREPAID CARD</h4>
            </div>
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">ANALYTICS AND REPORTING</h4>
            </div>
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">RECONCILIATION</h4>
            </div>
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">DEBT MANAGEMENT</h4>
            </div>
        </div>
        <div class="right-container">
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">LOAN ORIGINATION</h4>
            </div>
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">LENDER INTEGRATION</h4>
            </div>
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">OFFER MANAGEMENT</h4>
            </div>
            <div class="each-item-container">
                <div class="mark-logo"><p>&#x2713;</p></div>
                <h4 class="item-name">KYC</h4>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>


<style>

.build-section {
    background-color: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: bold;
    color: aliceblue;
}
@media (max-width:768px){
    .build-section{
        min-height: 80vh;
        padding: 20px;
        justify-content: flex-start;
        padding-top: 80px;
        padding-left: 30px;
    }
}

    .build-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

.build-heading {
    font-size: 50px;
    letter-spacing: 4px;
    line-height: 80px;
    margin-bottom: 140px;
}

@media (max-width:768px){
    .build-heading{
        font-size: 25px;
        letter-spacing: 1px;
        line-height:10px;
        margin-top:10px;
        white-space: nowrap;
        margin-bottom: 50px;
        
    }
}

.build-container {
    display: flex;
    /* margin-bottom: 40px ; */
    white-space: nowrap;
    width: 100%;
}

.left-container {
    margin-right: 300px;
}
@media (max-width:768px){
    .left-container{
        margin-right: 20px;
        margin-top: 50px;
    }
}
.right-container {
    margin-right: 300px;
}
@media (max-width:768px) {
    .right-container{
        margin-right: 20px;
        margin-top: 50px;
    }
}

.each-item-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.mark-logo {
    height: 20px;
    width: 20px;
    background-color: #FF8C00;
    margin-right: 15px;
    border-radius: 50px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.item-name {
    letter-spacing: 1px;
    opacity: 60%;
}

.yellow {
    background-color: #FF8C00;
    display: inline;
    width: 160px;
    height: 12px;
}

.orange {
    background-color: orangered;
    display: inline;
    width: 30px;
    height: 12px;
    opacity: 50%;
}

.light-orange {
    background-color: orangered;
    display: inline;
    width: 30px;
    height: 12px;
    opacity: 20%;
}
.logo {
    display: flex;
    gap: 15px;
}

@media (max-width:768px){
    .build-container{
        flex-direction: column;
    }

}


</style>
