---
import CarouselIcons from '../components/CarouselIcons'
---

<div>
 <h1 class="text-red text-4xl md:text-6xl text-center mt-16 pt-10 pb-8 mb-4 font-bold">Ready for paradigm shift?</h1>

 <CarouselIcons client:load/>

 <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">

  <div class="bg-white p-4 shadow-md rounded-lg custom-bg-color1">
    <h1 class="text-xl font-semibold mb-2 text-white">Micro-service Frameworks</h1>
  
    <p class="text-gray-700 mb-4 text-white">
      4th Gen, Low code framework with Node.JS++ and Java. Execute product ideas with a great speed and effectivity.
    </p>
    <button class="bg-white text-black px-4 py-2 custom-btn">
      Learn More
    </button>
  </div>
  
  <div class="bg-white p-4 shadow-md rounded-lg custom-bg-color2">
    <h1 class="text-xl font-semibold mb-2 text-white">Frontend UI Frameworks</h1>

    <p class="text-gray-700 mb-4 text-white">
      Coming soon, a command line UI framework. Get access to a pre-launch beta version.
    </p>
    <button class="bg-white text-black px-4 py-2 custom-btn hover:bg-blue-600">
      Learn More
    </button>
  </div>
  
  <div class="bg-white p-4 shadow-md rounded-lg custom-bg-color3">
    <h1 class="text-xl font-semibold mb-2 text-white">Devops</h1>
 
    <p class="text-gray-700 mb-4 text-white">
      Command line framework to resolve your backend hassles with ease.
    </p>
    <button class="bg-white text-black px-4 py-2 custom-btn hover:bg-blue-600">
      Learn More
    </button>
  </div>
  
</div>

 <!-- <div class="grid grid-cols-3 gap-3">

  <div class="bg-white p-4 shadow-md rounded-lg custom-bg-color1">
    <h1 class="text-xl font-semibold mb-2 text-white">Micro-service Frameworks</h1>
  
    <p class="text-gray-700 mb-4 text-white">
      4th Gen, Low code framework with Node.JS++ and Java. Execute product ideas with a great speed and effectivity.
    </p>
    <button class="bg-white text-black px-4 py-2 custom-btn">
      Learn More
    </button>
  </div>
  <div class="bg-white p-4 shadow-md rounded-lg custom-bg-color2">
    <h1 class="text-xl font-semibold mb-2 text-white">Frontend UI Frameworks</h1>

    <p class="text-gray-700 mb-4 text-white">
      Coming soon, a command line UI framework. Get access to a pre-launch beta version.
    </p>
    <button class="bg-white  text-black px-4 py-2 custom-btn hover:bg-blue-600">
      Learn More
    </button>
  </div>
  <div class="bg-white p-4 shadow-md rounded-lg custom-bg-color3">
    <h1 class="text-xl font-semibold mb-2 text-white">Devops</h1>
 
    <p class="text-gray-700 mb-4 text-white">
      Command line framework to resolve your backend hassles with ease.
    </p>
    <button class="bg-white text-black px-4 py-2 custom-btn hover:bg-blue-600">
      Learn More
    </button>
  </div>
</div> -->
</div>

<style>
  .custom-bg-color1{
    background-image: url("https://res.cloudinary.com/dfuwiecz0/image/upload/v1692697930/Godspeed/purple-bg_g9y2bt.png");
    background-size: cover;
    transition: transform 0.2s ease-in-out;
  }
  .custom-bg-color1:hover{
    transform: scale(1.05);
  }
  .custom-bg-color2{
    background-image: url("https://res.cloudinary.com/dfuwiecz0/image/upload/v1692698344/Godspeed/lightpink_cmobfz.png");
    background-size: cover;
    transition: transform 0.2s ease-in-out;
  }
  .custom-bg-color2:hover{
    transform: scale(1.05);
  }
  .custom-bg-color3{
    background-image: url("https://res.cloudinary.com/dfuwiecz0/image/upload/v1692698348/Godspeed/pink_qmmjam.png");
    background-size: cover;
    transition: transform 0.2s ease-in-out;
  }
  .custom-bg-color3:hover{
    transform: scale(1.05);
  }
  .custom-btn{
    border-radius: 25px;
  }
</style>