<section class="nav-section">
    <ul class="menu-items gap-4">
        <li class="menu-list"><a href="#" class="link-class">LinkedIn</a></li>
        <li class="menu-list"><a href="#" class="link-class">Discord</a></li>
        <li class="menu-list"><a href="#" class="link-class">Git Hub</a></li>
    </ul>
    <p class="copyright">&copy 2023 by Godspeed Systems</p>
</section>

<style>
    .nav-section{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
       
    }

    .menu-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;

        position: relative;
        text-align: center;
        /* white-space: nowrap; */
        
        }

/* @media (max-width: 768px){
    .menu-items{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
} */

        /* .heading{
            opacity: 1;
            color: rgba(255,255,255,1);
            font-family: "DMSans-9ptRegular_Black";
            font-size: 24px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 4px;
            text-align: center;
            line-height: 32px;
        } */
        .menu-list{
            opacity: 1;
            color: rgba(255,255,255,1);
            font-family: "DMSans-9ptRegular_Black";
            font-size: 13px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 2px;
            text-align: center;
            line-height: 16px;
            margin: 30px;
        }
        .copyright {   
            opacity: 0.6;
            color: rgba(204,204,204,1);
            font-family: "DMSans-9ptRegular_Black";
            font-size: 16px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 2.67px;
            text-align: center;
            line-height: 32px;
                    }
</style>