<div class="integrate-main">

    <div class="build-logo">
        <div class="logo">
            <div class="yellow"></div>
            <div class="orange"></div>
            <div class="light-orange"></div>
        </div> 
        <h1 class="head-integrate">INTEGRATE SEAMLESSLY</h1>
    </div>


    <div class="image-grid gap-4 place-items-center">

        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827869/Godspeed/Designlogos/51_jurser.png" alt="Image 1">
   
        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827868/Godspeed/Designlogos/50_y9uu8n.png" alt="Image 1">
      
        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827867/Godspeed/Designlogos/49_d10jqw.png" alt="Image 1">
   
        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827866/Godspeed/Designlogos/46_r1ghum.png" alt="Image 1">

        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827865/Godspeed/Designlogos/44_cyuprl.png" alt="Image 1">

        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827864/Godspeed/Designlogos/42_vit3av.png" alt="Image 1">
      
        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827863/Godspeed/Designlogos/41_e8mllb.png" alt="Image 1">
 
        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827863/Godspeed/Designlogos/39_hv2yb0.png" alt="Image 1">
 
        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827861/Godspeed/Designlogos/37_j5lb3q.png" alt="Image 1">
        
        <img class="h-auto max-w-full mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827860/Godspeed/Designlogos/33_xmidea.png" alt="Image 1">
        
        <img class="h-auto max-w-full  mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827860/Godspeed/Designlogos/32_nhyitd.png" alt="Image 1">
       
        <img class="h-auto max-w-full  mb-10 mr-2" src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693827860/Godspeed/Designlogos/31_is24el.png" alt="Image 1">

    
    </div>

</div>     



<style>

    .inbox-div{
        width: 100px;
        height: 20px;
        background-color: orange;
        /* box-shadow: yellow 0px 30px 60px -12px inset, blue 0px 18px 36px -18px inset; */
    }

.build-logo{
    margin-bottom: 100px;
}
    .box-div{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .box-icon{
        box-shadow: 0px 17px 28px -20px rgba(199,58,0, 1);
opacity: 0.2;
background-color: rgba(255,140,0, 1);
    }


    .integrate-image{
        background-color: transparent;
    }

    .integrate-main{
        min-height: 100vh;
        background-color: black;
        /* padding-right: 30px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
       
    }

    @media (max-width:768px){
        .integrate-main{
            justify-content: center;
            align-items: center;
            padding: 30px;
            padding-top: 100px;
        }
    }

    .head-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .head-integrate{
        opacity: 1;
        color: rgba(255,255,255,1);
        /* font-family: "DMSans-9ptRegular_ExtraBold"; */
        font-family: sans-serif;
        font-size: 60px;
        font-weight: 800;
        font-style: normal;
        letter-spacing: 4px;
        text-align: right;
        line-height: 80px;
        text-transform: uppercase;
        padding-right: 50px;
    }

    @media (max-width:768px){
    .head-integrate{
        font-size: 25px;
        letter-spacing: 1px;
        line-height:10px;
        margin-top:10px;
        white-space: nowrap;
        margin-bottom: 50px;
        
    }
}

    .image-grid {
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 100px; */
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    margin: 0px 20px 0px 20px; 
    padding-left: 0px;
    /* width: 100%; */
  
}

@media (max-width:768px){
    .image-grid{
        /* display: flex;
        flex-wrap: wrap;
        justify-content: fex-stalrt;
        align-items: center; */
        grid-template-columns: repeat(2, 6fr);
        padding: 0px;
        margin: 0px 20px 0px 20px; 
        
    }
    .image1 {
        padding: 0px;
        margin: 0px;
        /* width: 150px; */
    }
   
}

.image1 {
    text-align: center;
    opacity: 0.4;
    padding: 40px;
    margin: 20px;
    /* width: 300px; */
  
}

   
.yellow {
    background-color: #FF8C00;
    display: inline;
    width: 160px;
    height: 12px;
}

.orange {
    background-color: orangered;
    display: inline;
    width: 30px;
    height: 12px;
    opacity: 50%;
}

.light-orange {
    background-color: orangered;
    display: inline;
    width: 30px;
    height: 12px;
    opacity: 20%;
}
.logo {
    display: flex;
    gap: 15px;
    margin-right: 50px;
}

@media (min-width: 768px) {
    .logo{
    transform: scaleX(-1);
    }
}



</style>