<hr class="lineclass" />
<!-- <div class="border-t border-solid border-gray-300 my-4"></div> -->



<style>
    .lineclass{
        color: #cccccc;
        /* width: 100px; */
        height: 5px;
    }
</style>