  <section class="nav-section">
    <div >
        <h1 class="heading">GODSPEED <small class="version">V.4</small></h1>
    </div>
    <!-- <ul class="menu-items gap-4">
        <li class="menu-list">USE CASES</li>
        <li class="menu-list">CUSTOMERS</li>
        <li class="menu-list">GET EARLY ACCESS</li>
    </ul> -->
</section>

<style> 

    .version{
        box-shadow: 0px 0px 4px rgba(255,140,0, 1);
        opacity: 1;
        color: rgba(241,70,0,1);
        font-family: "DMSans-9ptRegular_Black";
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 1.14px;
        text-align: center;
        line-height: 20px;
    }

    .nav-section{
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .menu-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;
        }
        .heading{
            opacity: 1;
            color: rgba(255,255,255,1);
            font-family: "DMSans-9ptRegular_Black";
            font-size: 24px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 4px;
            text-align: center;
            line-height: 32px;
            /* width: 164px; */



        }
        .menu-list{
            opacity: 1;
            color: rgba(255,255,255,1);
            font-family: "DMSans-9ptRegular_Black";
            font-size: 13px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 2px;
            text-align: center;
            line-height: 16px;
        }


@media (max-width: 992px) {
    .heading{
        font-size: 18px;
    }
    .menu-items{
        display: none;
    }
}
</style> 