---

import axios from 'axios';

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name1 = data.get("email");
    const userdata = {
        email: name1,
    }
    axios.post('http://localhost:3003/users/create', userdata);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<div class="main-section">
    <div class="section1-class gap-4">
     <div>
        <p class="achieve-class">ACHIEVE</p>
        <h1 class="quantum">QUANTUM LEAP </h1>  
            <h1 class="spanclass">IN PRODUCTIVITY</h1>
     </div>
    
    <div>
        <h2 class="develop-h2">Develop, Deploy & Monitor with Godspeed</h2>
        <p class="nextpara">The next-gen application command center that integrates with your development stack.</p>
    </div>
    <form method="POST">
        <input type="text" id="inputdatavalue" name="email" placeholder="Enter your email to get early access" class="input-class" />
    
        <div class="all-btns">
            <div class="btn-div flex justify-center items-center">
                <button type="submit" id="submitbtn" class="btn alert pt-8">GET EARLY ACCESS</button>
            </div>
                <div class="empty-div"></div>
                <div class="empty-div"></div>
        </div>
    </form>
    </div>
</div>

<style>

    .main-section{
        min-height: 100vh;
        background-color: black;
        background: radial-gradient(circle at bottom right ,#FF8C00,
        orangered,black,black,black,black);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 50px;

        }

        @media (max-width:768px){
            .main-section{
                padding: 30px;
                min-height:80vh
        
                
            }
        }

    .all-btns{
        width: 460px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .parasubmit{
        font-size: 18px;
        color: white;
        display: none;
    }
    

    .empty-div{
        box-shadow: 0px 16px 28px -20px ragb(199,58,0, 1);
        opacity: 0.4;
        background-color: rgba(255,140,0, 1);
        height: 88px;
        color: rgba(255,140,0, 1);
        margin-top: 20px;
        margin-left: 10px;
        width: 20px;
        
        
    }

    .spanclass{
        opacity: 1;
        color: #BDD4DE;
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 2px;
        text-align: left;
        display: inline;


    }

    @media (max-width:768px){
        .spanclass{
            font-size: 22px;
        }
    }

    .spanclass {
        display: inline;
        overflow: hidden; 
        border-right: .15em solid orange; 
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: 
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

    .section1-class{
        background-color: transparent;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: flex-start;
        padding-left: 50px
    }
    @media (max-width:768px) {
        .section1-class{
            width:100%;
            padding-left: 0px;
            /* background-color:red */
        }
        
    }

    .achieve-class{ 
    opacity: 1;
    color: rgba(122,122,122,1);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    text-align: left;

    }

    .quantum{
        opacity: 1;
        color: rgba(255,255,255,1);
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 800;
        font-style: normal;
        letter-spacing: 4px;
        text-align: left;
        display: inline;
    }
    @media (max-width:768px){
        .achieve-class{
            font-size: 18px;
            margin-bottom: 10px;
        }
        .quantum{
            font-size: 22px;
            margin-bottom: 10px;

        }
        .develop-h2{
            margin-bottom: 15px;

        }
    }
.develop-h2{
    opacity: 1;
    color: rgba(204,204,204,1);
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2.28px;
    text-align: left;

}
.nextpara{
    opacity: 1;
    color: rgba(143,143,143,1);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 32px;

}

@media (max-width:768px){
    .develop-h2{
        font-size: 18px;
        /* flex-wrap: wrap; */
    }
    .nextpara{
        font-size: 15px;
        line-height: 20px;
    }
}

.btn{
        opacity: 1;
    color: rgba(0,0,0,1);
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
    line-height: 32px;
    }
    .btn-div{
        opacity: 1;
    background-color: rgba(255,140,0, 1);
    margin-top: 20px;
    width:380px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    /* .input-div{
        border-radius: 2px;
        border: 1px solid rgba(255,255,255, 0.14);
        opacity: 1;
        height: 88px;
        width: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .input-class{
        /* opacity: 1;
        color: rgba(173,173,173,1);
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
        line-height: 32px;
        width: 420px;
        background-color: transparent; */

    height: 88px;
    width: 460px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border-style: solid;
    border-color: beige;
    border-radius: 2px;
    border-width: 1px;
    background-color: transparent;
    font-family: sans-serif;
    margin-right: 20px;
    color: #BDD4DE;
    margin-top: 60px;
 
    }

    @media (max-width:768px){

        .all-btns{
            width: 280px;
        }
        .input-class{
            width: 280px;
            /* width: 80; */
            margin-right:0px ;
            height: 45px;
            font-size: 15px;
        }
        .btn-div{
            width: 220px;
            height: 45px;
        }
        .btn{
            font-size: 15px;
        }
        .empty-div{
            height: 45px;
            width: 18px;
        }
    }

</style>


<script>
  // Find all buttons with the `alert` class on the page.
  const buttons = document.getElementById('submitbtn');
  const abc = document.getElementById('parasubmitbtn');


  // Handle clicks on each button.
    buttons.addEventListener('click', () => {
        alert("Email submitted successfully");
    });
</script>