<!-- <section class="nav-section">  -->
<section class="w-full flex flex-col justify-center items-center bg-black pt-6"> 

    <!-- <ul class="menu-items gap-4"> -->
    <ul class="flex items-center gap-0 lg:gap-4 lg:mb-2">

        <li class="text-white text-opacity-100 mt-2 ml-2 mr-2 md:mr-5 lg:text-2xl lg:mr-8 lg:ml-8 font-sans"><a href="https://www.linkedin.com/company/godspeed-systems/" target="_blank" class="link-class">LinkedIn</a></li>
        <li class="text-white text-opacity-100 mt-2 ml-2 mr-2 md:mr-3 lg:mr-8 lg:text-2xl lg:ml-8 font-sans"><a href="https://discord.com/invite/E3WU9dT7UQ" target="_blank" class="link-class">Discord</a></li>
        <li class="text-white text-opacity-100 mt-2 ml-2 mr-2 md:mr-3 lg:mr-8 lg:text-2xl lg:ml-8 font-sans"><a href="https://github.com/godspeedsystems/gs-node-service" target="_blank" class="link-class">GitHub</a></li>
        <li class="text-white text-opacity-100 mt-2 ml-2 mr-2 md:mr-3 lg:mr-8 lg:text-2xl lg:ml-8 font-sans"><a href="https://docs.godspeed.systems/docs/preface" target="_blank" class="link-class">Documentation</a></li>
        
    </ul>
    <p class="copyright">&copy 2023 by Godspeed Systems</p>
</section>

<style>
    .nav-section{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        overflow: hidden;
       
    }

    .menu-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;
        position: relative;
        text-align: center;
        
        }

        .menu-list{
            opacity: 1;
            color: rgba(255,255,255,1);
            font-family: sans-serif;
            font-size: 13px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 2px;
            text-align: center;
            line-height: 16px;
            /* margin: 30px; */
        }
        .copyright {   
            opacity: 0.6;
            color: rgba(204,204,204,1);
            font-family: "DMSans-9ptRegular_Black";
            font-size: 16px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 2.67px;
            text-align: center;
            line-height: 32px;
                    }
</style>

