

<!-- <section class="nav-section">  -->
<section class="w-full flex flex-col justify-center items-center bg-black pt-6 pb-6"> 

    <ul class="hidden md:flex md:flex-row justify-center items-start mb-8">
        <li class="text-white text-opacity-100 mt-2 md:text-2xl">
            <a href="https://www.linkedin.com/company/godspeed-systems/" target="_blank" class="link-class inline-block">
                <span class="line2 md:inline-block"></span>LinkedIn<span class="line2 inline-block ml-2 md:ml-0"></span></a></li>
            <li class="text-white text-opacity-100 mt-2 md:text-2xl">
                <a href="https://discord.com/invite/E3WU9dT7UQ" target="_blank" class="link-class">
                    Discord<span class="line2 inline-block ml-2 md:ml-0"></span></a></li>
            <li class="text-white text-opacity-100 mt-2 md:text-2xl">
            <a href="https://github.com/godspeedsystems/gs-node-service" target="_blank" class="link-class">
                GitHub<span class="line2 inline-block ml-2 md:ml-0"></span></a></li>
        <li class="text-white text-opacity-100 mt-2 md:text-2xl">
            <a href="https://docs.godspeed.systems/docs/preface" target="_blank" class="link-class">
                Documentation<span class="line2 inline-block ml-2 md:ml-0"></span></a></li>
                
    </ul>

    <ul class="flex flex-col justify-center items-start custom-ul md:hidden">
        <div class="flex justify-between items-center w-full">
        <li class="text-white text-opacity-100 mt-2 md:text-2xl custom-list">
            <a href="https://www.linkedin.com/company/godspeed-systems/" target="_blank" class="link-class inline-block">
                LinkedIn</a></li>
        <span class="line3 inline-block ml-2 md:ml-0"></span>
        </div>
        <div class="flex justify-center items-center w-full">
            <li class="text-white text-opacity-100 mt-2 md:text-2xl custom-list">
                    <a href="https://discord.com/invite/E3WU9dT7UQ" target="_blank" class="link-class">
                        Discord</a></li>
            <span class="line3 inline-block ml-2 md:ml-0"></span>
        </div>
        <div class="flex justify-center items-center w-full">   
            <li class="text-white text-opacity-100 mt-2 md:text-2xl custom-list">
                <a href="https://github.com/godspeedsystems/gs-node-service" target="_blank" class="link-class">
                    GitHub</a></li>
            <span class="line3 inline-block ml-2 md:ml-0"></span>
        </div>
        <div class="flex justify-center items-center w-full">
            <li class="text-white text-opacity-100 mt-2 md:text-2xl custom-list w-130">
                <a href="https://docs.godspeed.systems/docs/preface" target="_blank" class="link-class">
                    Documentation</a></li>
            <span class="line3 inline-block ml-2 md:ml-0"></span>
        </div>
    </ul>

    <p class="copyright">&copy 2023 by Godspeed Systems</p>
</section>

<style>

    .custom-ul{
        width: 280px;
    }
    .custom-list{
    
        
    }
    .nav-section{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        overflow: hidden;
       
    }

    .menu-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;
        position: relative;
        text-align: center;
        
        }

        .menu-list{
            opacity: 1;
            color: rgba(255,255,255,1);
            font-family: sans-serif;
            font-size: 13px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 2px;
            text-align: center;
            line-height: 16px;
            /* margin: 30px; */
        }

        .custom-list{
            opacity: 1;
            color: rgba(255,255,255,1);
            font-family: "DMSans-9ptRegular_Bold";
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0px;
            text-align: center;
            line-height: 32px;
        }

        .copyright {   
            opacity: 0.6;
            /* color: rgba(204,204,204,1); */
            color: #cccccc;
            font-family: "DMSans-9ptRegular_Black";
            font-size: 16px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 2.67px;
            text-align: center;
            line-height: 32px;
                    }
        .line3 {
            /* display: inline-block; */
            opacity: 0.3;
            /* width: 80px; */
            width:auto;
            flex-grow: 1;
            height: 1px;
            background-color: #cccccc;
            vertical-align: middle;
            }
            .line2 {
            /* display: inline-block; */
            opacity: 0.3;
            width: 60px;
            height: 1px;
            background-color: #cccccc;
            vertical-align: middle;
            }
</style>
</style>

