<div class="success-container">
        <div class="successful-logo">
            <div class="logo">
                <div class="yellow"></div>
                <div class="orange"></div>
                <div class="light-orange"></div>
            </div> 
            <h1 class="head-integrate md:text-5xl lg:text-6xl">SUCCESS STORIES</h1>
        </div>
   
    <div class="container1 gap-4">
        <div class="left-panel">
            <h1 id="headingh1" class="heading1">SEE HOW PINELABS ACHIEVED +60% PRODUCTIVITY</h1>

            <h2 id="headingh2" class="heading2">Godspeed brought us significant productivity gain in developing, observing and maintaining mission critical services, with quality and standards</h2>
            <div class="btns-div-class flex justify-start items-center gap-3">

                <button class="video-button" data-video-id="in64WNtUwBE?si=3914uYwnDqkUjm6X">
                    <img class="client-image" 
                    src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693840308/Godspeed/Designlogos/2_nyeweb.png" />
                    <!-- src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693840308/Godspeed/Designlogos/2_nyeweb.png" /> -->

                </button>   
            <!-- <button class="video-button" data-video-id="">
                <img class="client-image" 
                src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693836023/Godspeed/Designlogos/3_e0zfc8.png" />
            </button>
            <button class="video-button" data-video-id="">
                <img class="client-image" 
                src="https://res.cloudinary.com/dfuwiecz0/image/upload/v1693840331/Godspeed/Designlogos/Bitmap_rd159s.png" />
            </button> -->
           
        </div>

        </div>
        <div class="right-panel">
           
            <iframe  class="video-class"
             id="video-frame" src="https://www.youtube.com/embed/in64WNtUwBE?si=3914uYnwDqkUjm6X" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


<style>

.success-container{
    padding: 100px;
    background-color: black;

}



.client-image{
    /* width: 200px;
    height: 60px; */
}

.successful-logo{
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* padding-left: 100px; */
        padding-bottom: 100px;
}

.successs-heading{
    opacity: 1;
color: rgba(255,255,255,1);
font-family: sans-serif;
font-size: 60px;
font-weight: 800;
font-style: normal;
letter-spacing: 4px;
text-align: left;
line-height: 80px;
text-transform: uppercase;
}

.head-integrate{
    opacity: 1;
        color: rgba(255,255,255,1);
        font-family: sans-serif;
        /* font-size: 60px; */
        font-weight: 800;
        font-style: normal;
        letter-spacing: 4px;
        text-align: right;
        line-height: 80px;
        text-transform: uppercase;
        padding-right: 50px;
    }

    @media (max-width:768px){
    .head-integrate{
        font-size: 25px;
        letter-spacing: 1px;
        line-height:10px;
        margin-top:10px;
        white-space: nowrap;
        margin-bottom: 50px;
        
    }
}

.container1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 20px; */
}

.left-panel {
    flex: 1;
    text-align: left;
}

.heading1{
    opacity: 1;
    color: rgba(204,204,204,1);
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2.29px;
    text-align: left;
    line-height: 44px;
    text-transform: uppercase;
    padding-bottom: 50px;
    max-width: 80%;

}
.heading2{
    opacity: 1;
color: rgba(143,143,143,1);
font-family: sans-serif;
font-size: 24px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 32px;
max-width: 80%;
}

/* h1 {
    font-size: 24px;
    margin-bottom: 10px;
} */

h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.video-button {
    display: block;
    /* width: 150px; */
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-align: left;
    transition: border-bottom 0.2s ease-in-out;

}

.video-button:hover {
    border-bottom: 2px solid #333;
}

.right-panel {
    /* flex: 2; */
    text-align: center;
    height: 400px;
    width: 800px;
}



iframe {
    width: 100%;
    height: 100%;
    border: none;
}
  
.yellow {
    background-color: #FF8C00;
    display: inline;
    width: 160px;
    height: 12px;
}

.orange {
    background-color: orangered;
    display: inline;
    width: 30px;
    height: 12px;
    opacity: 50%;
}

.light-orange {
    background-color: orangered;
    display: inline;
    width: 30px;
    height: 12px;
    opacity: 20%;
}
.logo {
    display: flex;
    gap: 15px;
    margin-right: 50px;
}

@media (max-width:768px){
    .success-container{
        min-height: 100vh;
        padding: 30px;
    }
    .client-image{
        width: 120px;
    }
    .btns-div-class{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .container1{
        flex-direction: column;
    }
    .left-panel{
        order:2;
        /* padding-left: 60px; */
    }
    .right-panel{
        order: 1;
        width: 100%;
        background-color: white
    }
    .heading1{
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 30px;
    }
    .heading2{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .video-button {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
}

</style>

<!-- <script>
  const videoFrame = document.getElementById('video-frame');
const videoButtons = document.querySelectorAll('.video-button');
// const h1Element = document.querySelector('h1');
// const h2Element = document.querySelector('h2');
const h1Element = document.getElementById('headingh1');
const h2Element = document.getElementById('headingh2');

videoButtons.forEach(button => {
    button.addEventListener('click', () => {
        const videoId = button.getAttribute('data-video-id');
        const embedUrl = `https://www.youtube.com/embed/${videoId}`;
        videoFrame.src = embedUrl;

        // Remove the bottom border from all buttons
        videoButtons.forEach(btn => {
            btn.style.borderBottom = 'none';
        });

        // Add the bottom border to the clicked button
        button.style.borderBottom = '2px solid #fff';

        // Update h1 and h2 text content
        if (videoId === 'in64WNtUwBE?si=3914uYwnDqkUjm6X') {
            h1Element.textContent = 'SEE HOW PINELABS ACHIEVED 60% PRODUCTIVUTY';
            h2Element.textContent = 'Godspeed brought us significant productivity gain in developing, observing observing and maintaining mission critical services, with quality and standards';
        } else if (videoId === '0n7AWxYCj9I?si=v9OpYJb3FZoFNELG') {
            h1Element.textContent = 'WE HAVE POWERFUL ANALYTICS & CHARTING SOLUTIONS THANKS TO GODSPEED';
            h2Element.textContent = 'Dr.Stephan Stienacker, Head of Business Development, ALMAMET';
        } else if (videoId === '0n7AWxYCj9I?si=v9OpYJb3FZoFNELG') {
            h1Element.textContent = 'Reconciliation services up - without writing a single line of code';
            h2Element.textContent = 'Mustafa Mohammed, International Engineering, CHAI';
        }
    });
});


</script> -->

